<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="nav-foreground">DRIVERS</b>
      </a>
    </p>

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'admin', 'schedules']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left nav-foreground"></span>
      </a>
    </p>

    <!--hamburger to open rides in list form-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId, 'admin', 'drivers', 'new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus nav-foreground"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <label>Drivers</label>
    </div>
  </div>

  <div>
    <ul class="list-group">
      <li class="list-group-item nhs-table-header colorWhite">
        <div class="row">
          <div class="col-xs-4">
            Name
          </div>
          <div class="col-xs-6">
            Email
          </div>
          <div class="col-xs-2">
            Settings
          </div>
        </div>
      </li>
      <li class="list-group-item nhs-table-content" *ngFor="let driver of fetchDrivers()">
        <div class="row">
          <div class="col-xs-4">
            {{driver.firstName}} {{driver.lastName}}
          </div>
          <div class="col-xs-5">
            {{driver.emailId}}
          </div>
          <div class="col-xs-3">
            <a [routerLink]="['/user', userId, 'admin', 'drivers', driver._id]">
              <div class="nhs-glyphicon">
                <span class="glyphicon-cog glyphicon"></span>
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'admin', 'schedules']" class="navbar-link">
        <span class="glyphicon glyphicon-align-justify nav-foreground"></span>
      </a>
    </p>
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']" class="navbar-link">
        <span class="glyphicon glyphicon-user nav-foreground"></span>
      </a>
    </p>
  </div>
</nav>
