
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="nav-foreground">RIDES</b>
      </a>
    </p>

    <!--hamburger to open rides in list form-->
    <p class="navbar-text pull-right vertical-center">
      <a [routerLink]="['/rides-list']" class="navbar-link">
        <span class="glyphicon glyphicon-align-justify nav-foreground"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <ngx-carousel [inputs]="carouselTile">

      <ngx-tile class="carousal-height" NgxCarouselItem *ngFor="let ride of carousel_rides">
        <div class="carousal-height">
          <h3 class="carousal-text">{{ride.departure_time | date:"hh:mm a"}}</h3>
        </div>
      </ngx-tile>

      <button NgxCarouselPrev class="leftRs vertical-center">
        <a class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </button>

      <button NgxCarouselNext class="rightRs vertical-center">
        <a class="navbar-link">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </button>
    </ngx-carousel>
  </div>

  <div class="row">
    <img class="responsive-image" src="../../../assets/red_eye.png">
  </div>

  <div class="row">

  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a [routerLink]="['/myride']" class="navbar-link">
        <span class="glyphicon glyphicon-road nav-foreground"></span>
      </a>
    </p>
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']" class="navbar-link">
        <span class="glyphicon glyphicon-user nav-foreground"></span>
      </a>
    </p>
  </div>
</nav>
