.carousal-height{
  height: 50pt;
  vertical-align: middle;
  margin-bottom: 0pt;
  margin-top: -15pt;
}

.carousal-text{
  text-align: center;
  line-height: 50pt;
}

.leftRs {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  outline: none;
}

.rightRs {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  outline: none;
}

.responsive-image {
  height: auto;
  max-width: 200px;
  margin: auto;
  display: block;
}

.queue-slot-outer{
  margin: 5pt;
}

.queue-slot-inner{
  width: 120pt;
  height: 30pt;
  margin: auto;
  border-style: groove;
  border: 2pt solid lightgrey;
  border-radius: 10px;
}

.queue{
  list-style-type: none;
  margin: auto;
  width: auto;
  height: auto;
  padding: 0;
}

.add-button{
  margin: 15pt;
}

