<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="nav-foreground">SCHEDULES</b>
      </a>
    </p>

    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId, 'admin', 'schedules', 'new']"
         class="navbar-link">
        <span class="glyphicon glyphicon-plus colorWhite"></span>
      </a>
    </div>

  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <label>Rides</label>
    </div>
  </div>

  <div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row" *ngFor="let ride of fetchRides()">
          <div class="col-xs-2">
            {{ride._driver}}
          </div>
          <div class="col-xs-2">
            {{ride.departure_time}}
          </div>
          <div class="col-xs-4">
            {{ride.seat_count}}
          </div>
          <div class="col-xs-2">
            {{ride.blocked_seats}}
          </div>
          <a [routerLink]="['/user', userId, 'admin', 'schedules', ride._id]"
             class="pull-right">
            <span class="glyphicon-cog glyphicon"></span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'admin', 'drivers']" class="navbar-link">
        <span class="glyphicon glyphicon-sunglasses nav-foreground"></span>
      </a>
    </p>
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']" class="navbar-link">
        <span class="glyphicon glyphicon-user nav-foreground"></span>
      </a>
    </p>
  </div>
</nav>
