<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="nav-foreground">SCHEDULES</b>
      </a>
    </p>

    <div class="navbar-text pull-right">
      <a [routerLink]="['/admin-new-schedule']"
         class="navbar-link">
        <span class="glyphicon glyphicon-plus colorWhite"></span>
      </a>
    </div>

  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <label>Rides</label>
    </div>
  </div>

  <div>
    <ul class="list-group">
      <li class="list-group-item nhs-table-header colorWhite">
        <div class="row">
          <div class="col-xs-3">
            Driver's Name
          </div>
          <div class="col-xs-4">
            Departure Time
          </div>
          <div class="col-xs-1">
            Seats
          </div>
          <div class="col-xs-2">
            Blocked Seats
          </div>
          <div class="col-xs-2">
            Settings
          </div>
        </div>
      </li>
      <li class="list-group-item nhs-table-content" *ngFor="let ride of fetchRides()">
        <div class="row">
          <div class="col-xs-3">
            {{ride.driver_name}}
          </div>
          <div class="col-xs-4">
            {{ride.departure_time | date:'MM-dd-yyyy hh:mm a'}}
          </div>
          <div class="col-xs-1">
            {{ride.seat_count}}
          </div>
          <div class="col-xs-2">
            {{ride.blocked_seats}}
          </div>
          <div class="col-xs-2">
            <a [routerLink]="['/admin-edit-schedule', ride._id]">
              <div class="nhs-glyphicon">
                <span class="glyphicon-cog glyphicon"></span>
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a [routerLink]="['/admin-drivers']" class="navbar-link">
        <span class="glyphicon glyphicon-sunglasses nav-foreground"></span>
      </a>
    </p>
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']" class="navbar-link">
        <span class="glyphicon glyphicon-user nav-foreground"></span>
      </a>
    </p>
  </div>
</nav>
