<div class="container">
  <div class="row_style">
    <h2>
      Location Search API for Drop Off
    </h2>
  </div>
  <div class = "row dropoff">
    <div class="col-xs-12">
      <input placeholder="Dropoff Address"
             autocorrect="off"
             autocapitalize="off"
             spellcheck="off"
             type="text"
             name="dropoff"
             [(ngModel)]="dropoff"
             class="form-control"
             #search [formControl]="searchControl">
    </div>
  </div>
  <div class="row dropoff">
    <div class="col-xs-12">
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="16" >
        <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="iconUrl"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row dropoff">
    <div class="col-xs-12">
      <button type="button" class="btn btn-success btn-block" (click)="updateDropoff()">Confirm Drop Off</button>
    </div>
  </div>
  <div class="row_style">
    <h2>
      Optimum Route Finder
    </h2>
  </div>
  <app-shortestpath></app-shortestpath>
</div>
