
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!--heading on the nav bar-->
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="nav-foreground">RIDES</b>
      </a>
    </p>

    <!--chevron-->
    <p class="navbar-text pull-left vertical-center">
      <a [routerLink]="['/rides']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left nav-foreground"></span>
      </a>
    </p>
  </div>
</nav>


<div class="container">
  <ul class="list-group">
    <li *ngFor="let ride of rides" class="list-group-item">
      <div class="row">
        <div class="col-xs-3">
          <span>Departure Time</span>
          <a [routerLink]="['/user', userId, 'driver', 'ride' , ride._id]">{{ride.departure_time | date:'medium'}}</a>
        </div>
        <div class="col-xs-3">
          <span>Seat Count</span>
          <span>{{ride.seat_count}}</span>
        </div>
        <div class="col-xs-3">
          <span>Status</span>
          <span>{{ride.status}}</span>
        </div>
        <div class="col-xs-3">
          <span>Delay</span>
          <span>{{ride.delay}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!--<p class="navbar-text pull-left">-->
      <!--<a [routerLink]="['/myride']" class="navbar-link">-->
        <!--<span class="glyphicon glyphicon-road nav-foreground"></span>-->
      <!--</a>-->
    <!--</p>-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']" class="navbar-link">
        <span class="glyphicon glyphicon-user nav-foreground"></span>
      </a>
    </p>
  </div>
</nav>
