<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="nav-foreground">NU SHUTTLE</b>
      </a>
    </p>
  </div>
</nav>

<div class="container-fluid">
  <div>

    <div class="align-center">
      <p><i>
        Our project is convenience app for the Northeastern University home drop shuttle
        service available for students on campus called NU Red Eye.
        Here is some information about this service.
      </i></p>
      <hr/>
    </div>
    <div>
      <img class="img-responsive" src="../../../assets/red_eye.png">
    </div>

    <div class="description align-center">
      <h3>NU RED EYE</h3>
      <hr/>
      <p>A special nighttime off campus safety escort, the <b>RED EYE</b>,
        is  provided from dusk to dawn for those
        students who reside within <b>TWO MILES</b> of the center of campus.
        Every night from 7:00PM until 6:00AM, the <b>RED EYE</b>
        will pick students up at the Snell Library, and 1110 Comm.
        Ave. In order to use this escort service, students must book a ride in advance using NU Shuttle App.
      </p>
    </div>
  </div>

  <div class="home-element align-center">
    <div class="restrictions align-center">
      <h3>RESTRICTIONS</h3>
      <hr />
      <ul class="align-justify">
        <li>The safety escort service is NOT intended to be a taxi service.</li>
        <li>Transportation will not be provided to places of employment, restaurants, drinking establishments,
          laundromats, airports, bus terminals, etc.</li>
        <li>Transportation will not be provided for those who are either intoxicated or students who display
          disruptive behavior.</li>
        <li>Transportation will not be provided for students accompanied by pets or animals.</li>
      </ul>
    </div>
  </div>

  <hr/>

  <div class="align-center">
    <p><i>
      Boston winters are brutal and to avoid having the students wait in queue
      for the Red Eye service we designed an app that allows you to queue up for the app virtually
      and uses your drop off location to find the shortest path that the driver can take for the ride.
      Please see below for more information on our project.
    </i></p>
    <hr/>
  </div>

  <div>
    <h3 class="align-center">PROJECT : NU SHUTTLE</h3>
    <br/>
    <table style="width:100%">
      <tr>
        <td><p class="all-round-margin">Description</p></td>
        <td>
          <p>Northeastern University has a shuttle service from dusk to dawn which can be availed by all students to get dropped to their homes within a 2 mile radius of the University. This service is called the RED EYE. The shuttle leaves from Snell Library every 20 minutes and students queue up in front of the library to catch the next shuttle. This becomes difficult when the weather conditions in Boston worsen and students have to wait in queue in the chilling winter. Also, the drivers of the van manually take down the addresses of the drop-off locations from the students and decide on the shortest route for the shuttle. Since this is manually calculated, it may not always be the shortest path and can cause delays.
            In our project we have solved this problem by creating a virtual queue service which will allow students to queue up for the shuttle without having to physically stand in line. </p>
          <a href="https://docs.google.com/document/d/1V2D7QPzvW_5PY4p05FszcATrA_Ix4-GcniUJdDjjmDU/edit">requirements</a>
        </td>
      </tr>
      <tr>
        <td><p class="all-round-margin">Link to Project</p></td>
        <td>
          <a href="https://nushuttle.herokuapp.com/login"><p class="all-round-margin">https://nushuttle.herokuapp.com/login</p></a>
        </td>
      </tr>
      <tr>
        <td><p class="all-round-margin">Code base</p></td>
        <td>
          <a href="https://github.com/purvakamat/NUShuttle">
            <p class="all-round-margin">https://github.com/purvakamat/NUShuttle</p>
          </a>
        </td>
      </tr>
      <tr>
        <td><p class="all-round-margin">Screenshots</p></td>
        <td class="center">
          <div class="row pull-center">
            <img width="200px" max-height="300px"
                 class="img-responsive image-style pull-left"
                 src="../../../assets/login.jpeg">
            <img width="200px" max-height="300px"
                 class="img-responsive image-style pull-left"
                 src="../../../assets/add-queue.jpeg">
            <img width="200px" max-height="300px"
                 class="img-responsive image-style pull-left"
                 src="../../../assets/queue.jpeg">
            <img width="200px" max-height="300px"
                 class="img-responsive image-style pull-left"
                 src="../../../assets/my-ride1.jpeg">
          </div>

          <div class="row pull-center">
            <img width="200px" max-height="300px"
                 class="img-responsive image-style pull-left"
                 src="../../../assets/my-ride2.jpeg">
            <img width="200px" max-height="300px"
                 class="img-responsive image-style pull-left"
                 src="../../../assets/profile.jpeg">
            <img width="200px" max-height="300px"
                 class="img-responsive image-style pull-left"
                 src="../../../assets/driver-dashboard.jpeg">
            <img width="200px" max-height="300px"
                 class="img-responsive image-style pull-left"
                 src="../../../assets/driver-ride.jpeg">
          </div>
        </td>
      </tr>

      <tr>
        <td><p class="all-round-margin">Link to project Wiki</p></td>
        <td>
          <a href="https://github.com/purvakamat/NUShuttle/wiki">
            <p class="all-round-margin">https://github.com/purvakamat/NUShuttle/wiki</p>
          </a>
        </td>
      </tr>


      <tr>
        <td><p class="all-round-margin">Description Video</p></td>
        <td>
          <iframe src="https://www.youtube.com/embed/ckEzgGBee4s"
                  frameborder="0"
                  gesture="media"
                  allow="encrypted-media"
                  allowfullscreen></iframe>
        </td>
      </tr>

    </table>
  </div>

  <div>
    <span>
      <h3><b>TEAM</b></h3>
    </span>
    <span>
      <h4>Purva Kamat</h4>
      <a href="https://www.linkedin.com/in/purvakamat/">https://www.linkedin.com/in/purvakamat/</a><br/>
      <a href="https://github.com/purvakamat">https://github.com/purvakamat</a>
    </span>
    <span>
      <h4>Nisarg Hareshbhai Shah</h4>
      <a href="https://github.com/shahnisarg14">https://github.com/shahnisarg14</a>
    </span>
    <span>
      <h4>Vishal Sanjiv Kotak</h4>
      <a href="https://www.linkedin.com/in/vishalsanjivkotak/">https://www.linkedin.com/in/vishalsanjivkotak/</a><br/>
      <a href="https://github.com/kotakvishal7">https://github.com/kotakvishal7</a>
    </span>
  </div>

</div>


