<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="nav-foreground">NU SHUTTLE</b>
      </a>
    </p>
    <p class="navbar-text pull-right">
      <a [routerLink]="['/login']" class="navbar-link">
        <span class="glyphicon glyphicon-user nav-foreground"></span>
      </a>
    </p>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 description">
      <h2>Special Night Time Off-Campus Escort Service – REDEYE</h2>
      <hr/>
      <p>A special nighttime off campus safety escort, the <b>“REDEYE“</b>, is  provided from dusk to dawn for those
        students who reside within <b>TWO MILES</b> of the center of campus.</p>
      <p>Every night from 7:00PM until 6:00AM, the <b>“REDEYE”</b> will pick students up at the Snell Library, and 1110 Comm.
        Ave. In order to use this escort service, students <b>MUST</b> book a ride in advance using NU Shuttle App.
      </p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <img class="img-responsive" src="../../../assets/red_eye.png">
    </div>
  </div>
  <div class="row home-element">
    <div class="col-xs-12 col-sm-6 restrictions">
      <h3>Restrictions</h3>
      <hr />
      <ul>
        <li>The safety escort service is NOT intended to be a taxi service.</li>
        <li>Transportation will not be provided to places of employment, restaurants, drinking establishments,
          laundromats, airports, bus terminals, etc.</li>
        <li>Transportation will not be provided for those who are either intoxicated or students who display
          disruptive behavior.</li>
        <li>Transportation will not be provided for students accompanied by pets or animals.</li>
      </ul>
    </div>
  </div>
</div>
