<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <div class="navbar-text pull-left">
          <a [routerLink]="['/user', userId, 'home']"
             class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left colorWhite"></span>
          </a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class=" navbar-header">
          <a class="navbar-brand">
            <b class="colorWhite">Profile</b>
          </a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="navbar-text pull-right">
          <a  class="navbar-link">
            <span class="glyphicon glyphicon-ok colorWhite"
                  (click)="updateUser(username, emailId, firstName, lastName)"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="username">Type</label>
      <input type="text" class="form-control" id="type" placeholder="username" disabled="true" [(ngModel)]="type">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="username" [(ngModel)]="username">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="email" placeholder="emailid" [(ngModel)]="emailId" disabled="true">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="first-name">First Name</label>
      <input type="text" class="form-control" id="first-name" placeholder="firstname" [(ngModel)]="firstName">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="last-name">Last Name</label>
      <input type="text" class="form-control" id="last-name" placeholder="lastname" [(ngModel)]="lastName">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 form-group">
      <a class = "btn btn-success btn-block form-control" [routerLink]="['/user', userId, 'pickup']">Update PickUp</a>
    </div>
    <div class="col-xs-6 form-group">
      <a class = "btn btn-success btn-block form-control" [routerLink]="['/user', userId, 'dropoff']">Update DropOff</a>
    </div>
  </div>
  <a class = "btn btn-danger btn-block form-control" (click)="deleteUser(user._id)">Delete</a>
</div>
