<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <div class="navbar-text pull-left">
          <a [routerLink]="['/user', userId, 'driver']"
             class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left colorWhite"></span>
          </a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class=" navbar-header">
          <a class="navbar-brand">
            <b class="colorWhite">Ride</b>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class = "container">
  <div class = "row row-style">
    <div class="col-xs-12">
      <input #search
             placeholder="Add a Custom Dropoff Address"
             autocorrect="off"
             autocapitalize="off"
             spellcheck="off"
             type="text"
             name="search"
             class="form-control"
             disabled
             [formControl]="searchControl">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <label>ORIGIN</label>
    </div>
    <div class="col-xs-6">
      <span>{{shuttleOrigin}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <label>DESTINATION</label>
    </div>
    <div class="col-xs-6">
      <span>{{shuttleDestination}}</span>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <label>STUDENTS</label>
    </div>
  </div>
  <div class="row">
    <ul class="list-group">
      <li  class="list-group-item" *ngFor="let queueSlot of queueSlots">
        <div class="row">
          <div class="col-xs-3">
            {{queueSlot.student_name}}
          </div>
          <div class="col-xs-4">
            {{queueSlot.dropoff_location}}
          </div>
          <div class="col-xs-2 pull-left">
            <button type="button" class="btn btn-primary btn-xs" [disabled]="queueSlot.checked_in || queueSlot.notified"
                    (click)="checkIn(queueSlot._id, queueSlot)">
              Check In</button>
          </div>
          <div class="col-xs-2 pull-left">
            <button type="button" class="btn btn-danger btn-xs" [disabled]="queueSlot.checked_in || queueSlot.notified"
            (click)="noShow(queueSlot._id, queueSlot)">
              No Show</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row row-style">
    <div class="col-xs-12">
      <button #findRoute
              id="findRoute"
              type="button"
              class="btn btn-primary btn-block"
              (click)="findOptimumRoute()">Find Shortest Route</button>
    </div>
  </div>
  <div class="row row-style">
    <div class="col-xs-12">
      <agm-map id="map"
               [latitude]="latitude"
               [longitude]="longitude"
               [scrollwheel]="false"
               [zoom]="16">
      </agm-map>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']" class="navbar-link">
        <span class="glyphicon glyphicon-user nav-foreground"></span>
      </a>
    </p>
  </div>
</nav>
