<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <div class="navbar-text pull-left">
          <a [routerLink]="['/user', userId, 'driver']"
             class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left colorWhite"></span>
          </a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class=" navbar-header">
          <a class="navbar-brand">
            <b class="colorWhite">Ride</b>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class = "container">
  <div class="row">
    <div class="col-xs-12">
      <label>Ride Information:</label>
      <label>{{this.rideId}}</label>
    </div>
  </div>
  <div class = "row row-style">
    <div class="col-xs-12">
      <input #search
             placeholder="Add a Custom Dropoff Address"
             autocorrect="off"
             autocapitalize="off"
             spellcheck="off"
             type="text"
             name="search"
             class="form-control"
             disabled
             [formControl]="searchControl">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <label>ORIGIN</label>
    </div>
    <div class="col-xs-6">
      <span>{{shuttleOrigin}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <label>DESTINATION</label>
    </div>
    <div class="col-xs-6">
      <span>{{shuttleDestination}}</span>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <label>STUDENTS</label>
    </div>
  </div>
  <ul class="list-group">
    <li  class="list-group-item" *ngFor="let queueSlot of queueSlots">
      <div class="row">
        <div class="col-xs-2">
          {{queueSlot.student.firstName}}
        </div>
        <div class="col-xs-2">
          {{queueSlot.student.lastName}}
        </div>
        <div class="col-xs-4">
          {{queueSlot.dropoff_location}}
        </div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-primary btn-xs">Check In</button>
        </div>
      </div>
    </li>
  </ul>
  <div class="row row-style">
    <div class="col-xs-12">
      <button #findRoute
              id="findRoute"
              type="button"
              class="btn btn-primary btn-block"
              (click)="findOptimumRoute()">Find Shortest Route</button>
    </div>
  </div>
  <div class="row row-style">
    <div class="col-xs-12">
      <agm-map id="map"
               [latitude]="latitude"
               [longitude]="longitude"
               [scrollwheel]="false"
               [zoom]="16">
      </agm-map>
    </div>
  </div>
</div>
