.colorWhite{
  color: white;
}

::before,::after {
  box-sizing: border-box;
}

.shuttle {
  margin: 50px auto;
  max-width: 500px;
}

.cockpit {
  height: 100px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #a6ada1;
}

.cockpit::before {
   content: "";
   display: block;
   position: absolute;
   height: 200px;
   width: 100%;
   border-radius: 30px;
   border-right: 5px solid #a6ada1;
   border-left: 5px solid #a6ada1;
 }

.cockpit h4 {
  width: 100%;
  margin: 50px auto 20px auto;
}

.entry {
  position: relative;
  height: 50px;
}

.entry::after {
   content: "ENTRY";
   font-size: 14px;
   display: block;
   position: absolute;
   background: green;
   color: white;
   top: 30%;
   right: 0;
 }

.shuttle-body {
  border-right: 5px solid #a6ada1;
  border-left: 5px solid #a6ada1;
}

ol {
  list-style :none;
  padding-left: 10px;
  margin: 0;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}


.seat {
  display: flex;
  flex: 0 0 32%;
  padding: 5px;
  position: relative;
}

.seat input[type=radio] {
  position: absolute;
  opacity: 0;
}

.seat input[type=radio]:checked + label {
  background: #9bef64;
}

.seat label {
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 20px;
  padding-top: 25%;
  background: #ef6464;
  border-radius: 15px;
}

.seat label::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255,255,255,.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.seat label:hover {
   cursor: pointer;
   box-shadow: 0 0 0 2px #428BCA;
 }
