<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-1 col-sm-1">
        <div class="navbar-text">
          <a [routerLink]="['/user', userId]"
             class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left colorWhite"></span>
          </a>
        </div>
      </div>
      <div class="col-xs-11 col-sm-11">
        <div class=" navbar-header">
          <a class="navbar-brand">
            <b class="colorWhite">My Drop Off</b>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class = "container">
  <div class = "row dropoff">
    <div class="col-xs-12">
      <input placeholder="Dropoff Address"
             autocorrect="off"
             autocapitalize="off"
             spellcheck="off"
             type="text"
             name="dropoff"
             [(ngModel)]="dropoff"
             class="form-control"
             #search [formControl]="searchControl">
    </div>
  </div>
  <div class="row dropoff">
    <div class="col-xs-12">
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="16" >
        <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="iconUrl"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row dropoff">
    <div class="col-xs-12">
      <button type="button" class="btn btn-success btn-block" (click)="updateDropoff()">Confirm Drop Off</button>
    </div>
  </div>
</div>
