
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!--heading on the nav bar-->
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="nav-foreground">MY RIDE</b>
      </a>
    </p>

    <!--chevron-->
    <p class="navbar-text pull-left vertical-center">
      <a [routerLink]="['/rides']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left nav-foreground"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container-fluid">

  <div *ngIf="noRides">
    <h4>Currently not in queue for any ride.</h4>
  </div>

  <div *ngIf="!noRides">
    <div *ngIf="showRideDetails">
      <div *ngIf="checkedIn" class="row alert alert-success">
        YOU HAVE BEEN CHECKED IN.
      </div>

      <div class="row">
        <p><b>Departure Time : </b> {{departure_time | date:"MM/dd/yyyy 'at' h:mm a"}}</p>
        <p><b>Vehicle No. : </b> {{vehicle_no}}</p>
        <p><b>Driver : </b> {{driver_name}}</p>
        <p><b>Pick Up : </b> {{pick_up}}</p>
      </div>
    </div>

    <div class="row dropoff">
      <div class="col-xs-12">
        <input placeholder="Choose your dropoff location"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="off"
               type="text"
               name="dropoff"
               [(ngModel)]="dropoff"
               class="form-control"
               #search [formControl]="searchControl">
      </div>
    </div>

    <div class="row dropoff">
      <div class="col-xs-12">
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="16" >
          <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="iconUrl"></agm-marker>
        </agm-map>
      </div>
    </div>

    <div class="row dropoff">
      <div class="col-xs-12">
        <button type="button" class="btn btn-success btn-block" (click)="locationConfirmed()">
          Set Drop Off Location
        </button>
      </div>
    </div>

    <div class="row dropoff">
      <div class="col-xs-12">
        <button *ngIf="showRideDetails" type="button" class="btn btn-danger btn-block" (click)="dropOffQueue()">
          Drop Out Of Queue
        </button>
      </div>
    </div>
  </div>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']" class="navbar-link">
        <span class="glyphicon glyphicon-user nav-foreground"></span>
      </a>
    </p>
  </div>
</nav>
