<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2">
        <div class="navbar-text pull-left">
          <a [routerLink]="['/user', userId]"
             class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left colorWhite"></span>
          </a>
        </div>
      </div>
      <div class="col-xs-10">
        <div class=" navbar-header">
          <a class="navbar-brand">
            <b class="colorWhite">My Pick Up</b>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class = "container">
  <div class = "row pickup">
    <div class="col-xs-12">
      <input placeholder="Pickup Address"
             autocorrect="off"
             autocapitalize="off"
             spellcheck="off"
             type="text"
             disabled
             name="pickup"
             [(ngModel)]="pickup"
             class="form-control"
             #search [formControl]="searchControl">
    </div>
  </div>
  <div class="row pickup">
    <div class="col-xs-12">
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="16">
        <agm-marker [latitude]="latitude" [longitude]="longitude"
                    [iconUrl]="iconUrl"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row pickup">
    <div class="col-xs-12">
      <button type="button" *ngIf="false" class="btn btn-primary btn-block" (click)="updatePickup()">Confirm Pick Up</button>
    </div>
  </div>
</div>


