<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="nav-foreground">NU SHUTTLE</b>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid page-margin page-side-margin">

  <h3><b>LOGIN</b></h3>
  <div class="row">
    <form (ngSubmit)="login()" #form="ngForm">
      <input type="text" class="form-control login-elements" placeholder="username" name="username" ngModel required
             #username="ngModel"/>
      <span class="errorMessage" *ngIf="!username.valid && username.touched">
            Please enter valid username
    </span>
      <input type="password" class="form-control login-elements" placeholder="password" name="password" ngModel
             required  #password="ngModel"/>
      <span class="errorMessage" *ngIf="!password.valid && password.touched">
            Please enter valid password
    </span>
      <button class="btn btn-primary btn-block login-elements" type="submit" [disabled]="!form.valid">Login</button>
      <button class="btn btn-success btn-block login-elements" type="submit" [routerLink]="['/register']">Register</button>
      <a class="login-elements pull-right" href="/anonymous"><h4>Ride Schedule</h4></a>
    </form>
  </div>

  <div *ngIf="errorFlag" class="row alert alert-danger">
    {{errorMsg}}
  </div>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!--empty-->
  </div>
</nav>
