/* You can add global styles to this file, and also import other style files */
agm-map {
  height: 500px;
  width: 100%;
}

body {
  padding-top: 75px;
  padding-bottom: 75px;
}
.navbar-default{
  background-color: #428BCA;
}

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

/*admin panel styling*/

div.tab {
  overflow: hidden;
  border: 1px solid #999999;
  background-color: #737373;
  color: white;
}

div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 18px;
}

div.tab button:hover {
  background-color: #595959;
}


/*Styles added for student component*/

.page-margin{
  padding-top: 75px;
  padding-bottom: 75px;
}

.nav-foreground {
  color: white;
  vertical-align: middle;
}

.nav-icon {
  color: white;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.pull-left{
  margin-right: 3pt;
}

.pull-right{
  margin-right: 3pt;
}

.vertical-center{
  margin-top: 3pt;
  margin-bottom: 3pt;
}

.dropoff {
  margin-top: 10px;
  margin-bottom: 10px;
}
.gm-style div{color: #fff !important; font-weight: bold;}

.colorWhite{
  color: white;
}

.nhs-btn{
  margin-top: 10px;
}

.nhs-padding{
  margin-top: 7px;
}

.nhs-table-header {
  background-color: #428BCA;
  text-align: center;
}

.nhs-table-content {
  text-align: center;
}

.nhs-glyphicon {
  display: block;
  text-align: center;
}


