/* You can add global styles to this file, and also import other style files */
agm-map {
  height: 500px;
  width: 100%;
}

body{
  padding-top: 70px;
}

.navbar-default{
  background-color: #428BCA;
}

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}
