<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class=" navbar-header">
          <a class="navbar-brand">
            <b class="colorWhite">Dashboard</b>
          </a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="navbar-text pull-right">
          <a  class="navbar-link">
            <span class="glyphicon glyphicon-user colorWhite"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
        <h2>My Schedules</h2>
        <ul class="list-group">
          <li *ngFor="let ride of rides" class="list-group-item">
            <div class="row">
              <div class="col-xs-3">
                <span>Departure Time</span>
                <a [routerLink]="['/user', userId, 'driver', 'ride' , ride._id]">{{ride.departure_time | date:'medium'}}</a>
              </div>
              <div class="col-xs-3">
                <span>Seat Count</span>
                <span>{{ride.seat_count}}</span>
              </div>
              <div class="col-xs-3">
                <span>Status</span>
                <span>{{ride.status}}</span>
              </div>
              <div class="col-xs-3">
                <span>Delay</span>
                <span>{{ride.delay}}</span>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>
